*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

min-height:100vh;

font-family:'Poppins',sans-serif;

background:

linear-gradient(
rgba(20,10,5,.78),
rgba(20,10,5,.78)
),

url("https://images.unsplash.com/photo-1512820790803-83ca734da794");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

padding:50px 20px;

}

.container{

max-width:1300px;
margin:auto;

}

.back-btn{

display:inline-flex;
align-items:center;
gap:10px;

padding:14px 26px;

background:rgb(106, 71, 71);

border-radius:50px;

text-decoration:none;

font-weight:600;

color:white;

box-shadow:0 10px 30px rgba(0,0,0,.12);

transition:.4s;

margin-bottom:40px;

}

.back-btn:hover{

transform:translateY(-3px);

}

h1{

text-align:center;

font-size:58px;

font-family:"Cormorant Garamond",serif;

margin-bottom:55px;

color:#ffe9c8;

}

.letters-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(360px,1fr));

gap:45px;

}

.letter-card{

position:relative;

background:#fffef9;

border-radius:8px;

box-shadow:

0 25px 45px rgba(0,0,0,.18);

overflow:hidden;

transition:.45s;

}

.letter-card:hover{

transform:translateY(-10px) rotate(-1deg);

}

.paper-top{

height:12px;

background:linear-gradient(90deg,#ff4f87,#ffb36b);

}

.paper-content{

padding:30px;

background:

repeating-linear-gradient(

to bottom,

transparent,

transparent 34px,

rgba(190,170,140,.18) 35px

);

min-height:430px;

}

.paper-pin{

position:absolute;

width:22px;

height:22px;

border-radius:50%;

background:#d32f2f;

left:50%;

top:18px;

transform:translateX(-50%);

box-shadow:

0 3px 10px rgba(0,0,0,.3);

z-index:5;

}

.paper-pin::after{

content:"";

position:absolute;

width:8px;

height:8px;

background:white;

border-radius:50%;

left:7px;

top:7px;

}

.letter-title{

font-family:"Cormorant Garamond",serif;

font-size:34px;

color:#c2185b;

margin-bottom:20px;

}

.line{

height:1px;

background:#e6d8c7;

margin:20px 0;

}

.letter-message{

font-size:17px;

line-height:2.1;

color:#5e4b44;

white-space:pre-wrap;

text-align:justify;

font-family:"Georgia",serif;

}

.letter-footer{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:35px;

font-size:13px;

color:#888;

flex-wrap:wrap;

gap:10px;

}

.empty{

grid-column:1/-1;

text-align:center;

padding:90px;

font-size:24px;

background:white;

border-radius:12px;

box-shadow:0 20px 40px rgba(0,0,0,.12);

}

@media(max-width:768px){

h1{

font-size:40px;

}

.paper-content{

min-height:340px;

padding:25px;

}

.letters-container{

grid-template-columns:1fr;

}

.letter-title{

font-size:28px;

}

.letter-message{

font-size:16px;

line-height:1.9;

}

.back-btn{

width:100%;

justify-content:center;

}

}